[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/libbinder"]
	path = libs/libbinder
	url = git@github.com:D-os/libbinder.git
[submodule "libs/libutils"]
	path = libs/libutils
	url = git@github.com:D-os/libutils.git
[submodule "external/safe-iop"]
	path = external/safe-iop
	url = https://android.googlesource.com/platform/external/safe-iop
[submodule "libs/libcutils"]
	path = libs/libcutils
	url = git@github.com:D-os/libcutils.git
[submodule "cmds"]
	path = cmds
	url = git@github.com:D-os/cmds.git
[submodule "tools/hidl"]
	path = tools/hidl
	url = git@github.com:D-os/hidl.git
[submodule "libs/base"]
	path = libs/base
	url = git@github.com:D-os/base.git
