# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE stuff
/*.pro.user
/*.txt.user

# CMake/Ninja stuff
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
build.ninja
rules.ninja

