[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/libbinder"]
	path = libs/libbinder
	url = git@github.com:D-os/libbinder.git
[submodule "libs/libutils"]
	path = libs/libutils
	url = git@github.com:D-os/libutils.git
